<%= form_for(@programme) do |f| %>
  <% if @programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% @programme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Titre<br />
    <%= f.text_field :Title %>
  </div>
  <div class="field">
   Intro<br />
    <%= f.text_area :Intro %>
  </div>
  <div class="field">
    Contenu du programme<br />
    <%= f.text_area :Contenu %>
  </div>
  <div class="field">
    Séries<br />
    <%= f.text_field :Series %>
  </div>
  <div class="field">
    Répétitions<br />
    <%= f.text_field :Repetitions %>
  </div>
  <div class="field">
    Repos<br />
    <%= f.time_select :Repos %>
  </div>
  <div class="field">
    Outro<br />
    <%= f.text_area :Outro %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
