  <%= form_for(@programme) do |f| %>
    <% if @programme.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

        <ul>
        <% @programme.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="row">
      <div class="large-12 columns">
       <label>Titre du programme</label><br />
        <%= f.text_field :title, :placeholder => "Comment veux-tu appeler ce programme ?" %>
      </div>

      <div class="large-12 columns">
       <label>Text d'introduction du programme</label>
        <%= f.text_area :intro, :placeholder => "Présente le programme et son contenu..." %>
      </div>
</div>

      <%= fields_for(@programme_exercice) do |ab| %>
      <div class="large-6 columns">
        <label>Choisir les exercices : </label>   
        <%= collection_select(:exercices, :id, @all_exercices, :id, :title, {}, {:multiple => true}) %>
      </div>
      <% end %>

      <div class="large-6 columns text-center">
        <small>Pas assez de choix ?</small><br />
          <div class="actions small default btn">
            <%= link_to 'Créer un nouvel exercice', new_exercice_path, :class => 'button secondary small round' %>
        </div>
      </div>

<div class="row">
      <div class="large-12 columns">
        <label>Texte de fin du programme</label>
        <%= f.text_area :outro, :placeholder => "Conclus par une définition WIKIPEDIA ou un texte d'encouragement..." %>
      </div>
</div>
    
    <div class="text-center">
      <%= f.submit :value => "Valider le programme", :class => 'button' %>
    </div>
    <% end %>


