 <fieldset class="twelve columns">
  <%= form_for(@programme) do |f| %>
    <% if @programme.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

        <ul>
        <% @programme.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <ul>
      <li class="field">
       Titre<br />
        <%= f.text_field :title, :class => 'text input' %>
      </li>
      <li class="field">
       Introduction<br />
        <%= f.text_area :intro, :class => 'textarea input' %>
      </li>
      <li class="field">
      <span class="title">Choisissez les exercices :</span>
      <li id="p-select">
        <% for exercice in Exercice.find(:all) %>
        <div class="row">
          <section class="twelve columns">
            <article class="valign row">
              <div>
                <label class="checkbox">
                  <%= check_box_tag "checkboxInput", exercice.id, @programme.exercices.include?(exercice) %>
                  <%= image_tag exercice.foto.preview.url %>                  
                </label> 
              </div>
              <div>
                <h3><%= exercice.title %></h3>
              </div>                       
          </article>
          <% end %>
          </section>
        </div>
      </li>
    </li>


      <li class="field">
      Pas assez de choix ?<br />
        <div class="actions small default btn">
      <%= link_to 'Créer un nouvel exercice', new_exercice_path %>
      </div>
      </li>
      <li class="field">
        Conclusion<br />
        <%= f.text_area :outro, :class => 'textarea input' %>
      </li>
    </ul>
    <div class="medium info btn">
      <%= f.submit %>
    </div>
    <% end %>
  </fieldset>


