
<div class="twelve columns">
    <table class="striped rounded">
        <caption>Liste des programmes</caption>
        <thead>
          <tr>
            <th>Titre</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% @programmes.each do |programme| %>
              <tr>
                <td><%= programme.Title %></td>
                <td><div class="small default btn"><%= link_to 'Voir', programme %></div></td>
                <td><div class="small default btn"><%= link_to 'Editer', edit_programme_path(programme) %></div></td>
                <td><div class="small danger btn"><%= link_to 'Supprimer', programme, method: :delete, data: { confirm: 'Confirmer la suppression ?' } %></div></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="actions medium info btn">
<%= link_to 'Nouveau programme', new_programme_path %>
</div>
