<h1>Liste des programmes</h1>

<div class="actions medium info btn pull_right icon-right entypo icon-plus-squared">
<%= link_to 'Nouveau programme', new_programme_path %>
</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programmes.each do |programme| %>
  <tr>
    <td><h3><%= programme.title %></h3></td>
    <td><div class="medium default btn"><%= link_to 'Voir', programme %></div></td>
    <td><div class="medium default btn"><%= link_to 'Editer', edit_programme_path(programme) %></div></td>

    <td><div class="medium danger btn"><%= link_to 'Supprimer', programme, method: :delete, data: { confirm: 'Confirmer la suppression ?' } %></div></td>
  </tr>
<% end %>
</table>
