<h1>Listing programmes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Intro</th>
    <th>Outro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programmes.each do |programme| %>
  <tr>
    <td><%= programme.title %></td>
    <td><%= programme.intro %></td>
    <td><%= programme.outro %></td>
    <td><%= link_to 'Show', programme %></td>
    <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
    <td><%= link_to 'Destroy', programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Programme', new_programme_path %>
