<h1>Liste des programmes</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Intro</th>
    <th>Contenu du programme</th>
    <th>Series</th>
    <th>Répétitions</th>
    <th>Repos</th>
    <th>Outro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programmes.each do |programme| %>
  <tr>
    <td><%= programme.Title %></td>
    <td><%= programme.Intro %></td>
    <td><%= programme.Contenu %></td>
    <td><%= programme.Series %></td>
    <td><%= programme.Repetitions %></td>
    <td><%= programme.Repos %></td>
    <td><%= programme.Outro %></td>
    <td><%= link_to 'Montrer', programme %></td>
    <td><%= link_to 'Editer', edit_programme_path(programme) %></td>
    <td><%= link_to 'Supprimer', programme, method: :delete, data: { confirm: 'Confirmer la suppression ?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau programme', new_programme_path %>
