<div class="row">    
      <div class="large-6 columns">
        <h1>Liste des programmes</h1>
      </div>
      <div class="right">
        <i class="fi-[heart]"></i>
        <%= link_to 'Créer un nouveau programme', new_programme_path, :class => 'button' %>
      </div>
</div>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @programmes.each do |programme| %>
  <tr>
    <td><h3><%= programme.title %></h3></td>
    <td>
      <div class="button-bar">
        <ul class="button-group">
          <li><%= link_to 'Voir', programme, :class => 'small button secondary' %></li>
          <li><%= link_to 'Editer', edit_programme_path(programme), :class => 'small button secondary' %></li>
          <li><%= link_to 'Supprimer', programme, method: :delete, data: { confirm: 'Confirmer la suppression ?' }, :class => 'small button secondary' %></li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table>
