<p id="notice"><%= notice %></p>

<div class="row">
	<div class="twelve columns">
		<h2><%= @programme.title %></h2>




<p>
  <%= @programme.intro %>
</p>

<p>
  Exercices:<br/>
  <%= @programme.exercices %>
</p>

<p>
  <%= @programme.outro %>
</p>

		<div class="medium info btn">
			<%= link_to 'Editer', edit_programme_path(@programme) %>
		</div>
		<div class="medium info btn">
			<%= link_to 'Retour à la liste', programmes_path %>
		</div>
	</div>
</div>