<p id="notice"><%= notice %></p>

<div class="row">
  <div class="twelve columns">
    <h3><%= @programme.Title %></h3>

<div class="p_intro"><%= simple_format(@programme.Intro) %></div>

<div class="p_content"><%= simple_format(@programme.Contenu) %></div>



<div class="p_outro"><%= simple_format(@programme.Outro) %></div>


<div class="medium info btn">
  <%= link_to 'Editer', edit_programme_path(@programme) %>
</div>
<div class="medium info btn">
  <%= link_to 'Revenir à la liste', programmes_path %>
</div>
