<p id="notice"><%= notice %></p>

<p>
	<h3><%= @programme.title %></h3>
</p>

<p>
  <%= @programme.intro %>
</p>

<p>
  Exercices:<br/>
  <%= @programme.exercices %>
</p>

<p>
  <%= @programme.outro %>
</p>


<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
