
	<div class="large-12 columns" id="top-heading">
		<div class="row">
			<div class="large-10 columns large-centered">
				<div class="row">
					<div class="large-6 columns text-center" id="message">
						<i class="icon-envelope-alt"></i>
						<span>Nouveau message</span>
						<h1>Le coach a un message pour vous</h1>
						<div class="text-center">
							<a href="#" data-reveal-id="coachvincent_ads" class="button round secondary"><i class="icon-facetime-video icon-large"></i> Je veux voir le message</a>
						</div>
					</div>
					<div class="large-5 columns" id="inscription">
						<h5><b>Inscrivez-vous</b> dès maintenant</h5>
						<span>pour être parmi les premiers à accéder à notre nouveau site Internet en exclusivité !</span>
						<form action="http://dusportpourtous.us7.list-manage.com/subscribe/post" method="POST">
						<input type="hidden" name="u" value="6a3244444459ec9b0cee577a0">
						<input type="hidden" name="id" value="b031077859">

						<div class="large-12 columns">
						    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Entrez votre adresse email et validez.">
						
							<button type="submit" class="button expand">
							  <i class="icon-hand-right"></i> Je m'inscris
							</button>
						</div>
						<div class="row" id="link_facebook">
							<div class="large-12 columns text-center">
								<%= link_to(image_tag("facebook.png", :alt => "Retrouvez CoachVincent sur les réseaux sociaux !", :title => "Rejoignez DSPT sur Facebook !"), "https://www.facebook.com/CoachVincentDSPT") %>
								<a href="https://www.facebook.com/CoachVincentDSPT">Découvrez la page Facebook</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="small-12 columns text-center" id="heading">
		<h1>Du sport pour tous</h1>
		<span>Vous hésitez encore à vous inscrire ? Vous souhaiteriez en savoir plus ? C’est très simple, suivez le guide <i class="icon-caret-down"></i> </span>
	</div>
	<div class="large-12 columns" id="content">
		<div class="row">
			<div class="large-12 columns" id="sport">
				<div class="row">
					<div class="small-4 columns"><h1>Programmes et exercices</h1></div>
          			<div class="small-8 columns">
          				<ul class="small-block-grid-2">
						  <li>
						  	<%= image_tag "programmes.png" %>
						  	<h5>Les programmes du coach</h5>
						  </li>
						  <li>
						  	<%= image_tag "exercices.png" %>
						  	<h5>Bibliothèque d'exercices</h5>
						  </li>
						</ul>
						<div class="large-12">
							<h5>Et du contenu sur mesure...</h5>
							<p>Parce que l'on a tous des objectifs différents, votre coach adapte ses programmes et ses exercices à vos besoins. Nous avons donc conçu un système complet qui s'adapte à vos exigences. Construisez vous-même votre programme d'entraînement et adaptez-le à vos performances. Choisissez vos exercices dans la base de données et ajustez-les pour les faire correspondre à votre progression. Servez-vous également de votre profil utilisateur pour obtenir des exercices pré-sélectionnés adaptés à votre morphologie et à vos besoins. Et si vous avez besoin de conseils, votre coach sportif  répond à vos questions en direct depuis votre tableau de bord. Alors plus d'excuses pour s'y mettre !</p>
						</div>
          			</div>
				</div>				
			</div>
			<div class="large-12 columns" id="media">
				<div class="row">
					<div class="small-4 columns"><h1>Photos et vidéos</h1></div>
          			<div class="small-8 columns">          				
						  <div class="large-6 columns text-center">
						  	<i class="icon-camera icon-4x"></i>
						  	<h5>Des exercices illustrés</h5>
						  	<p class="text-left">Chaque exercice comprend des photos qui illustre les mouvements afin de vous aider à les réaliser correctement.</p>
						  </div>
						  <div class="large-6 columns text-center">
						  	<i class="icon-film icon-4x"></i>
						  	<h5>Des vidéos explicatives</h5>
						  	<p class="text-left">Retrouvez tous les conseils de votre coach en vidéo : il réalise l'exercice et vous donne des explications sur les muscles concernés, la vitesse d'exécution, les temps de repos à observer...</p>
						  </div>
          			</div>
				</div>
			</div>
			<div class="large-12 columns" id="profil">
				<div class="row">
					<div class="small-4 columns"><h1>Profils personnels avancés</h1></div>
          			<div class="small-8 columns">          				
						  <div class="large-6 columns text-center">
						  	<i class="icon-pushpin icon-4x"></i>
						  	<h5>Actualités des entraînements sportifs</h5>
						  </div>
						  <div class="large-6 columns text-center">
						  	<i class="icon-bar-chart icon-4x"></i>
						  	<h5>Suivi des performances</h5>
						  </div>
						  <div class="large-12 columns text-center">
						  	<i class="icon-signal icon-4x"></i>
						  	<h5>Suivi de la progression</h5>
						  </div>
						  <div class="large-6 columns text-center">
						  	<i class="icon-star icon-4x"></i>
						  	<h5>Sauvegarde des favoris</h5>
						  </div>
						  <div class="large-6 columns text-center">
						  	<i class="icon-question-sign icon-4x"></i>
						  	<h5>Questions directes au coach</h5>
						  </div>
						  <div class="large-12 columns">
						  	<p>Et retrouvez encore plus de fonctionnalités pour vous accompagner tout au long de votre entraînement...</p>
						  </div>
          			</div>
				</div>				
			</div>
			<div class="large-12 columns text-center" id="complementary">
				<div class="row">
					<div class="large-12 head">
						<h1>Services complémentaires</h1>
						<span>Dusportpourtous.fr c'est aussi...</span>
					</div>
				</div>
				<div class="row">
					<div class="large-12">
						<ul class="large-block-grid-3 text-center">
						  <li><%= image_tag "shop_dusportpourtous.jpg" %></li>
						  <li><%= image_tag "partenaires_dusportpourtous.jpg" %></li>
						  <li><%= link_to(image_tag("social.png", :alt => "Retrouvez CoachVincent sur les réseaux sociaux !"), "https://www.facebook.com/CoachVincentDSPT") %></li>

						</ul>						
					</div>
				</div>
			</div>
		</div>
	</div>


<div id="coachvincent_ads" class="reveal-modal">
  	<div class="flex-video">
		 <iframe width="420" height="315" src="//www.youtube.com/embed/IyKFjDbq5qs?&controls=0&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>