			<h4>Mot de passe oublié ?</h4>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			 	<%= f.text_field :email, :placeholder => 'Inscrivez votre adresse email ici...' %>

			  	<%= f.submit "Recevoir mon mot de passe", :class => 'button' %>
			<%= render "devise/shared/links" %>
			<% end %>

			

			


