<ul>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  
			 	<%= f.text_field :email , :class => 'wide email input', :placeholder => 'Adresse email' %>


			 	<%= f.password_field :password, :class => 'wide password input', :placeholder => 'Mot de passe' %>

			  	<%= f.submit "Se connecter", {:class => 'large button expand'} %><br />
			  	<label class="checkbox text-center" for="admin_remember_me">
			  <% if devise_mapping.rememberable? -%>
			    <%= f.check_box :remember_me %> <span></span> Se souvenir de moi ?
			  <% end -%>
			 </label>
			<%= render "devise/shared/links" %>
			<% end %>			
</ul>

