<div class="row" id="login">
	<fieldset class="twelve columns">
		<ul>

			<h1>CoachVincent</h1>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <li class="field">
			  	<label class="inline" for="admin_email">Email</label>
			 	<%= f.text_field :email , :class => 'wide email input' %>
			</li>

			 <li class="field">
			  	<label class="inline" for="admin_password">Mot de passe</label>
			 	<%= f.password_field :password, :class => 'wide password input' %>
			</li>

			 <label class="checkbox" for="admin_remember_me">
			  <% if devise_mapping.rememberable? -%>
			    <%= f.check_box :remember_me %> <span></span> Se souvenir de moi ?
			  <% end -%>
			 </label>

			<div class="medium info btn" id="login-btn">
			  	<%= f.submit "Se connecter" %>
			</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</ul>
	</fieldset>	
</div>
