<%= form_for(@exercice) do |f| %>
  <% if @exercice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

      <ul>
      <% @exercice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   Titre<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
   Contenu de l'exercice<br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    Muscles<br />
    <%= f.text_area :muscles %>
  </div>
  <div class="field">
    Conseils<br />
    <%= f.text_area :conseils %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
