 <fieldset class="twelve columns">
    <%= form_for (@exercice), :html => {:multipart => true} do |f| %>
      <% if @exercice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

          <ul>
          <% @exercice.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <ul>
       <li class="field">
       Photo de l'exercice<br />
        <%= f.file_field :foto %>
      </li>
      <li class="field">
       Titre<br />
        <%= f.text_field :title, :class => 'text input' %>
      </li>
      <li class="field">
       Contenu de l'exercice<br />
        <%= f.text_area :description, :class => 'textarea input' %>
      </li>
      <li class="field">
        Muscles<br />
        <%= f.text_area :muscles, :class => 'text input' %>
      </li>
      <li class="field">
        Conseils<br />
        <%= f.text_area :conseils, :class => 'textarea input' %>
      </li>
    </ul>
      <div class="medium info btn">
        <%= f.submit %>
      </div>
    <% end %>
  </fieldset>


