<fieldset class="twelve columns">
  <%= form_for(@exercice) do |f| %>
    <% if @exercice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

        <ul>
        <% @exercice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <ul>
      <li class="field">
       Photo de l'exercice<br />
        <%= f.file_field :foto %>
        <%= f.hidden_field :foto_cache %>
      </li>
      <li class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, :class => 'text input' %>
      </li>
      <li class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, :class => 'textarea input' %>
      </li>
      <li class="field">
        <%= f.label :muscles %><br />
        <%= f.text_area :muscles, :class => 'text input' %>
      </li>
      <li class="field">
        <%= f.label :conseils %><br />
        <%= f.text_area :conseils, :class => 'textarea input' %>
      </li>
      <li class="field">
        <%= f.label :series %><br />
        <%= f.text_field :series, :class => 'text input' %>
      </li>
      <li class="field">
        <%= f.label :repetitions %><br />
        <%= f.text_field :repetitions, :class => 'text input' %>
      </li>
      <li class="field">
        <%= f.label :repos %><br />
        <%= f.text_field :repos, :class => 'text input' %>
      </li>
  </ul>
  <div class="medium info btn">
        <%= f.submit %>
  </div>
<% end %>
</fiedlset>
