  <%= form_for(@exercice) do |f| %>
    <% if @exercice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

        <ul>
        <% @exercice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="large-12 columns">
       <small>Ajouter ou modifier une photo pour cet exercice</small><br />
        <%= f.file_field :foto %>
        <%= f.hidden_field :foto_cache %>
      </div>
      <div class="large-12 columns">
        <label>Titre de l'exercice</label>
        <%= f.text_field :title, :placeholder => "Comment veux-tu appeler cet exercice ?" %>
      </div>
      <div class="large-12 columns">
        <label>Contenu de l'exercice</label>
        <%= f.text_area :description, :placeholder => 'Que faut-il faire ?' %>
      </div>
      <div class="large-12 columns">
        <label>Conseils pour réaliser l'exercice</label>
        <%= f.text_area :conseils, :placeholder => 'Si tu avais un conseil à donner, ce serait...' %>
      </div>
      <div class="row">
          <div class="large-12 columns">
            <div class="small-4 large-4 columns">
              <label>Nombre de séries</label>
              <%= f.text_field :series, :placeholder => 'Exemple : 6' %>
            </div>
            <div class="small-4 large-4 columns">
              <label>Nombre de répétitions</label>
              <%= f.text_field :repetitions, :placeholder => 'Exemple : 20' %>
            </div>
            <div class="small-4 large-4 columns">
              <label>Temps de repos (en secondes)</label>
              <%= f.text_field :repos, :placeholder => 'Exemple : 25' %>
            </div>
          </div>
      </div>
      <div class="large-12 columns">
        <label>Les muscles travaillés avec cet exercice</label>
        <%= f.text_area :muscles, :placeholder => 'Exemple : Biceps / Triceps / Abdominaux' %>
      </div>
  <div class="text-center">
        <%= f.submit :value => "Valider l'exercice", :class => 'button' %>
  </div>
<% end %>
