<div class="row">    
      <div class="large-6 columns">
        <h1>Liste des exercices</h1>
      </div>
      <div class="right">
        <%= link_to 'Créer un nouvel exercice', new_exercice_path, :class => 'button' %>
      </div>
</div>

    
<div class="row">
  <div class="large-12 columns">
    <div class="row">
    <ul class="small-block-grid-2 large-block-grid-3 text-center">
        <% @exercices.each do |exercice| %>
        <li>
          <div>
            <%= image_tag exercice.foto.thumbs.url, :class => 'th' %>
          </div>
          <div>
              <h5><%= exercice.title %></h5>          
          </div>
          <div class="small-10 small-centered columns">
          <div class="button-bar">
              <ul class="button-group">
                <li><%= link_to 'Voir', exercice, :class => 'small button secondary' %></li>
                <li><%= link_to 'Editer', edit_exercice_path(exercice), :class => 'small button secondary' %></li>
                <li><%= link_to 'Supprimer', exercice, method: :delete, data: { confirm: 'Confirmer la suppression ?' }, :class => 'small button secondary' %></li>
              </ul>
            </div>
          </div>
        </li>          
        <% end %>
      </div>
    </ul>
  </div>
</div>



 


