<h1>Listing exercices</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Muscles</th>
    <th>Conseils</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercices.each do |exercice| %>
  <tr>
    <td><%= exercice.title %></td>
    <td><%= exercice.description %></td>
    <td><%= exercice.muscles %></td>
    <td><%= exercice.conseils %></td>
    <td><%= link_to 'Show', exercice %></td>
    <td><%= link_to 'Edit', edit_exercice_path(exercice) %></td>
    <td><%= link_to 'Destroy', exercice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercice', new_exercice_path %>
