<h1>Liste des exercices</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercices.each do |exercice| %>
  <tr>
    <td><%= image_tag exercice.foto.thumb.url %></td>
    <td><%= exercice.title %></td>
    <td><div class="small default btn"><%= link_to 'Voir', exercice %></div></td>
    <td><div class="small default btn"><%= link_to 'Editer', edit_exercice_path(exercice) %></div></td>
    <td><div class="small danger btn"><%= link_to 'Supprimer', exercice, method: :delete, data: { confirm: 'Confirmer la suppression ?' } %></div></td>
  </tr>
<% end %>
</table>

<br />

<div class="actions medium info btn">
<%= link_to 'Nouvel exercice', new_exercice_path %>
</div>