<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-6 columns">   
      <%= image_tag @exercice.foto.normal.url %>
  </div>
  <div class="large-6 columns">
      <h2><%= @exercice.title %></h2>
  </div>
</div>

<div class="row">
  <div class="section-container auto" data-section>
    <section>
      <p class="title" data-section-title><a href="#description">Contenu de l'exercice</a></p>
      <div class="content" data-section-content>
        <p><%= @exercice.description %></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#muscles">Muscles</a></p>
      <div class="content" data-section-content>
        <h5>Les muscles travaillés avec cet exercice :</h5>
        <p><%= @exercice.muscles %></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#conseils">Conseils</a></p>
      <div class="content" data-section-content>
        <h5>Le conseil du coach :</h5>
        <p><%= @exercice.conseils %></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#entrainement">Entraînement</a></p>
      <div class="content" data-section-content>
        <h5>Pour un entraînement optimal, il faut observer les directives suivantes :</h5>
        <p>Nombre de séries : <%= @exercice.series %></p>
        <p>Nombre de répétitions : <%= @exercice.repetitions %></p>
        <p>Temps de repos : <%= @exercice.repos %></p>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <ul class="button-group round even-2">
    <li><%= link_to 'Editer', edit_exercice_path(@exercice), :class => 'button secondary' %></li>
    <li><%= link_to 'Retour à la liste', exercices_path, :class => 'button secondary' %></li>
  </ul>
</div>