<p id="notice"><%= notice %></p>

<div class="row">
  <div class="twelve columns">
     <article class="valign row">
      <div>
        <%= image_tag @exercice.foto.normal.url %>
      </div>
      <div>
        <h2><%= @exercice.title %></h2>
      </div>
    </article>

    <section class="pill tabs">
      <ul class="tab-nav">
        <li class="active"><a href="#">Contenu de l'exercice</a></li>        
        <li><a href="#">Muscles</a></li>
        <li><a href="#">Conseils</a></li>
        <li><a href="#">Entraînement</a></li> 
      </ul>
      <div class="tab-content active">
        <%= @exercice.description %>
      </div>
      <div class="tab-content">
        <%= @exercice.muscles %>
      </div>
      <div class="tab-content">
        <%= @exercice.conseils %>
      </div>
      <div class="tab-content">
        <p>Séries : <%= @exercice.series %></p>
        <p>Répétitions : <%= @exercice.repetitions %></p>
        <p>Repos : <%= @exercice.repos %></p>
      </div>
    </section>    
  </div>
</div>

<div class="medium info btn">
        <%= link_to 'Editer', edit_exercice_path(@exercice) %>
    </div>
    <div class="medium info btn">
        <%= link_to 'Retour à la liste', exercices_path %>
    </div>