<p id="notice"><%= notice %></p>

<p>
  <b>Titre :</b>
  <%= @exercice.title %>
</p>

<p>
  <b>Contenu de l'exercice :</b>
  <%= @exercice.description %>
</p>

<p>
  <b>Muscles :</b>
  <%= @exercice.muscles %>
</p>

<p>
  <b>Conseils :</b>
  <%= @exercice.conseils %>
</p>


<%= link_to 'Editer', edit_exercice_path(@exercice) %> |
<%= link_to 'Retour à la liste', exercices_path %>
