			     <div class="header">
			        <div class="pure-menu pure-menu-open pure-menu-horizontal" id="horizontal-menu">
			            <a class="pure-menu-heading" href="">CoachVincent</a>
			            <ul id="std-menu-items">
			                <li><%= link_to "Accueil", root_path %></li>
			                <li>
			                	<%= link_to "Exercices", exercices_path %>
			                	<ul>
			                		<li><a href="#">Créer un exercice</a></li>
			                		<li><a href="#">Voir tous les exercices</a></li>
			                	</ul>
			                </li>
					      	<li>
					      		<%= link_to "Programmes", programmes_path %>
					      		<ul>
			                		<li><a href="#">Créer un programme</a></li>
			                		<li><a href="#">Voir tous les programmes</a></li>
			                	</ul>
					      	</li>
					      	<li><%= link_to "Dico des sports", dico_path %></li>
					      	<li><%= link_to "Logout", 'logout' %></li>
			            </ul>
			        </div>
			    </div>