			    <% if admin_signed_in? %>
			    <div gumby-fixed="top" class="navbar" id="nav">
			    	<div class="row">
			        <a class="toggle" gumby-trigger="#nav > .row > ul" href="#"><i class="icon-menu"></i></a>
			          
			            	<%= link_to 'CoachVincent', root_path, {:class => 'two columns branding'} %>
			            	</a>
			        	
			           
			            <ul class="eight columns pull_right">
			                <li></li>
			                <li>
			                	<%= link_to "Exercices", exercices_path %>
			                	<div class="dropdown">
				                	<ul>
				                		<li><%= link_to "Créer un nouvel exercice", :controller => "/exercices", :action => "new"  %></li>
				                		<li><%= link_to "Voir tous les exercices", exercices_path %></li>
				                	</ul>
				                </div>
			                </li>
					      	<li>
					      		<%= link_to "Programmes", programmes_path %>
					      		<div class="dropdown">
						      		<ul>
				                		<li><%= link_to "Créer un nouveau programme", :controller => "/programmes", :action => "new", :id => @programmes %></li>
				                		<li><%= link_to "Voir tous les programmes", programmes_path %></li>
				                	</ul>
			                	</div>
					      	</li>					      	
					      	<li><%= link_to "Dico des sports", dico_path %></li>
							<li><% if admin_signed_in? %>

							  		<%= link_to current_admin do %>
									  <%= image_tag current_admin.avatar.thumb.url, :class =>"nav_pic" %>
									  <span class="nav_email"><%= current_admin.email %></span>
									<% end %>
							  
							  	<div class="dropdown">
								  	<ul>				                		
				                		<li>
											<%= link_to 'Modifier le profil', edit_admin_registration_path(@admin) %>
										</li>
										<li>
											<%= link_to('Se déconnecter', destroy_admin_session_path, :method => :delete) %>        
										</li>
										<% else %>
										<li>
										  <%= link_to('Se connecter', new_admin_session_path)  %>
										</li>
										<% end %>			                			
				                	</ul>
				                </div>
							</li>	      	
			            </ul>
			        </div>

			      
			    </div> 

			    <% else %>

		      <div gumby-fixed="top" class="navbar" id="nav">
		    	<div class="row">
		        <a class="toggle" gumby-trigger="#nav > .row > ul" href="#"><i class="icon-menu"></i></a>
		          
		            	<%= link_to 'CoachVincent', root_path, {:class => 'two columns branding'} %>
		            	</a>
		        	
		           
		            <ul class="eight columns pull_right">		                
						<li>
						  <%= link_to('Se connecter', new_admin_session_path)  %>
						</li>								      	
		            </ul>
		        </div>

			      
			    </div> 
			     <% end %>







			   