<nav class="top-bar" data-options="is_hover:false">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'Du Sport Pour Tous ', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
<% if admin_signed_in? %>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Programmes</a>

        <ul class="dropdown">          
          <li><%= link_to "Créer un nouveau programme", :controller => "/programmes", :action => "new", :id => @programmes %></li>
          <li><%= link_to "Voir tous les programmes", programmes_path %></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Exercices</a>

        <ul class="dropdown">          
          <li><%= link_to "Créer un nouvel exercice", :controller => "/exercices", :action => "new"  %></li>
          <li><%= link_to "Voir tous les exercices", exercices_path %></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#">Dico des sports</a></li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown">
			<%= link_to current_admin do %>
				<%= current_admin.email %>
			<% end %>
        <ul class="dropdown">
          <li><label>Gérer le profil</label></li>
          <li><%= link_to 'Modifier le profil', edit_admin_registration_path(@admin) %></li>		  
          <li class="divider"></li>
          <li><label>Quitter la session</label></li>
          <li><%= link_to('Se déconnecter', destroy_admin_session_path, :method => :delete) %></li>
        </ul>
<% else %>
		<ul class="right">
	      <li class="has-form">
	        <%= link_to 'Se connecter', new_admin_session_path, {:class => 'button round'}  %>
	      </li>
	    </ul>
        <% end %>
      </li>      
    </ul>
  </section>
</nav>