			    <% if admin_signed_in? %>
			    <div class="header">
			        <div class="pure-menu pure-menu-open pure-menu-horizontal" id="horizontal-menu">
			            <a class="pure-menu-heading" href="">CoachVincent</a>
			           
			            <ul id="std-menu-items">
			                <li><%= link_to "Accueil", root_path %></li>
			                <li>
			                	<%= link_to "Exercices", exercices_path %>
			                	<ul>
			                		<li><%= link_to "Créer un nouvel exercice", :controller => "exercices", :action => "new", :id => @exercices %></li>
			                		<li><%= link_to "Voir tous les exercices", exercices_path %></li>
			                	</ul>
			                </li>
					      	<li>
					      		<%= link_to "Programmes", programmes_path %>
					      		<ul>
			                		<li><%= link_to "Créer un nouveau programme", :controller => "programmes", :action => "new", :id => @programmes %></li>
			                		<li><%= link_to "Voir tous les programmes", programmes_path %></li>
			                	</ul>
					      	</li>					      	
					      	<li><%= link_to "Dico des sports", dico_path %></li>
							<li>
							  	Gestion du profil
							  	<ul>
			                		<% if admin_signed_in? %>
									<li>
										<%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>        
									</li>
									<% else %>
									<li>
									  <%= link_to('Login', new_admin_session_path)  %>
									</li>
									<% end %>			                			
			                		</li>
			                	</ul>
							</li>	      	
			            </ul>

			        </div>
			    </div> <% end %>