			    <% if admin_signed_in? %>
			    <div gumby-fixed="top" class="navbar" id="nav">
			    	<div class="row">
			        <a class="toggle" gumby-trigger="#nav > .row > ul" href="#"><i class="icon-menu"></i></a>
			          
			            	<%= link_to 'CoachVincent', root_path, {:class => 'two columns branding'} %>
			            	</a>
			        	
			           
			            <ul class="eight columns">
							<li class="pull_right"><% if admin_signed_in? %>
							  		<%= link_to current_admin do %>
									  <%= image_tag current_admin.avatar.thumb.url, :class =>"nav_pic" %>
									  <span class="nav_email"><%= current_admin.email %></span>
									<% end %>							  
							  	<div class="dropdown">
								  	<ul>				                		
				                		<li>
											<%= link_to 'Modifier le profil', edit_admin_registration_path(@admin) %>
										</li>
										<li><%= link_to "Créer un nouvel exercice", :controller => "/exercices", :action => "new"  %></li>
				                		<li><%= link_to "Voir tous les exercices", exercices_path %></li>
				                		<li><%= link_to "Créer un nouveau programme", :controller => "/programmes", :action => "new", :id => @programmes %></li>
				                		<li><%= link_to "Voir tous les programmes", programmes_path %></li>
										<li>
											<%= link_to('Se déconnecter', destroy_admin_session_path, :method => :delete) %>        
										</li>
										<% else %>
										<li>
										  <%= link_to('Se connecter', new_admin_session_path)  %>
										</li>
										<% end %>			                			
				                	</ul>
				                </div>
							</li>	      	
			            </ul>
			        </div>			      
			    </div> 
			    <% else %>
		      <div gumby-fixed="top" class="navbar" id="nav">
		    	<div class="row">
		        <a class="toggle" gumby-trigger="#nav > .row > ul" href="#"><i class="icon-menu"></i></a>
		          
		            	<%= link_to 'CoachVincent', root_path, {:class => 'two columns branding'} %>
		            	</a>
		            <ul class="eight columns pull_right">		                
						<li>
						  <%= link_to('Se connecter', new_admin_session_path)  %>
						</li>								      	
		            </ul>
		        </div>			      
			   </div> 
			   <% end %>







			   