<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="fr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="fr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="fr"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="fr"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "DSPT CoachVincent" %></title>
    <%= csrf_meta_tags %>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>    
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class='row'>    
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>     
  </body>
</html>